@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    :root {
        --blue-50  : rgb(240 249 255);
        --blue-100 : rgb(224 242 254);
        --blue-200 : rgb(186 230 253);
        --blue-300 : rgb(125 211 252);
        --blue-400 : rgb(56 189 248);
        --blue-500 : rgb(14 165 233);
        --blue-600 : rgb(2 132 199);
        --blue-700 : rgb(14 165 233);
        --blue-800 : rgb(7 89 133);
        --blue-900 : rgb(12 74 110);
    }

    html {
        scroll-behavior: smooth;
        font-family: Geologica, Roboto, Helvetica, sans-serif;
        font-weight: 300;
    }
    
    h1 {
        display : flex;
        align-items: center;
        gap : 0.5rem;
        margin-bottom : 1rem;
        font-size: 1.5rem;
        font-weight: 600;
        border-bottom: 2px solid var(--blue-100);
        color : var(--blue-500);
    }

    h2 {
        font-weight: 600;
    }

    input, textarea {
        padding : 0.5rem;
        border : 1px solid var(--blue-300);
        border-radius: 0.5rem;
        width : 100%;
        max-width: none;
    }

    input:focus-visible, textarea:focus-visible {
        outline : 1px solid var(--blue-400)
    }


    @layer components {

        .rotate-y-180 {
            rotate: y 180deg;
        }

        .nav-link:hover .nav-icon, 
        .nav-link:focus-visible .nav-icon {
            color : rgb(251 113 133);
        }
    }

}